* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #02002E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.navbar {
    width: 100%;
    max-width: 1270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
}

.back {
    background: #FFA412;
    border: none;
    border-radius: 25px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 3.5rem;
    color: white;
    font-family: 'Roboto';
    font-size: 1.8rem;
    text-decoration: unset;
}

.back:hover {
    transform: scale(1.1);
}

.zodiac {
    font-family: 'Roboto';
    font-size: 4rem;
    font-weight: 400;
    color: white;
}

.zodiac span {
    font-family: 'Rockwell';
    color: #FFA412;
}

.container {
    background: white;
    border-radius: 25px;
    width: 100%;
    max-width: 1300px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.kiri {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    width: 550px;
    padding: 2rem;
    gap: 1.2rem;
}

.film-poster {
    width: 200px;
    height: 280px;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
}

.info-film {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}

.nama-bioskop {
    font-size: 1.4rem;
    font-family: 'Roboto';
    color: #686868;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.nama-bioskop span {
    font-family: 'Rockwell';
    color: #FFA412;
}

.judul-film {
    font-size: 2.5rem;
    font-weight: 550;
    line-height: 1.1;
    margin-top: 0.2rem;
}

.rate {
    font-size: 1.1rem;
    color: #FFA412;
    margin: 0.3rem;
    text-transform: uppercase;
}

.studio {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 0.8rem;
}

.tanggal {
    font-weight: 500;
    margin-top: 0.7rem;
}

.kanan {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1.5rem;
    font-family: Arial, sans-serif;
}

.detail-transaksi {
    font-size: 1.2rem;
    font-weight: 750;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.label {
    color: #323232;
}

.seat {
    font-weight: bold;
    color: #323232;
}

.seat.harga {
    font-weight: bold;
    columns: #323232;
}

.seat.harga span {
    font-weight: normal;
    color: #323232;
}

.payment {
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.line {
    height: 1px;
    background: black;
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.metode-payment {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
    gap: 0.8rem;
}

.metode-button {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 9px;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    transition: all 0.2 ease;
    cursor: pointer;
}

.metode-button:hover {
    border-color: black;
}

.metode-button.active {
    border-color: rgb(31, 31, 31);
    background: #b3b3b3;
}

.metode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    font-size: 1rem;
}

.garis {
    height: 1px;
    margin: 0.8rem 0;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
    color: #323232;
}

.label-harga {
    font-weight: bold;
}

.finish {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFA412;
    background: #02002E;
    border: none;
    border-radius: 9px;
    font-size: 1.4rem;
    font-family:Arial, sans-serif;
    font-weight: bold;
    gap: 0.5rem;
    transition: all 0.2 ease;
    cursor: pointer;
}

.finish:hover {
    background: #0a0850;
    transform: scale(1.02);
}